app_picture_classify/.env

/.pre-commit-config.yaml
/.venv
/poetry.lock
__pycache__/
.env
postgres-data/
.ruff_cache
.mypy_cache
.coverage
.vscode
.pytest_cache
.idea
migrations
env.txt
alembic.ini
pyproject.toml
migrations/env.py
/group_project_photoapp
tests/test_commet.py
pycache