{% extends "app_image/base.html" %}

{% block content %}

<div>
    <h2>Реєстрація</h2>
</div>

<form method="post" action="{% url 'users:signup' %}">
    {% csrf_token %}
    <div class="mb-3 row">
        <label class="col-sm-5 col-form-label" style="text-align: right; margin-right: 0px;">Ім'я користувача:</label>
        <div class="col-sm-3" style="text-align: left; margin-left: 0px;">
            {{ form.username }}
            <span>{{ form.errors.username }}</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-5 col-form-label" style="text-align: right; margin-right: 0px;">Email:</label>
        <div class="col-sm-3" style="text-align: left; margin-left: 0px;">
            {{ form.email }}
            <span>{{ form.errors.email }}</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-5 col-form-label" style="text-align: right; margin-right: 0px;">Пароль:</label>
        <div class="col-sm-3" style="text-align: left; margin-left: 0px;">
            {{ form.password1 }}
            <span>{{ form.errors.password1 }}</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-5 col-form-label" style="text-align: right; margin-right: 0px;">Підтвердження паролю:</label>
        <div class="col-sm-3" style="text-align: left; margin-left: 0px;">
            {{ form.password2 }}
            <span>{{ form.errors.password2 }}</span>
        </div>
    </div>

    <div class="grid">
        <button type="submit">Підтвердити</button>
        <button type="reset" class="secondary">Скинути</button>
    </div>
</form>

{% endblock %}
