{% extends "app_image/base.html" %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-4">
            <h2 class="text-center mb-4">Реєстрація</h2>
            <form method="post" action="{% url 'users:signup' %}">
                {% csrf_token %}
        
                <div class="form-floating mb-3 col-md-12">
                    {{ form.username }}
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {% for error in form.username.errors %}
                        <label class="text-danger" for="floatingInputInvalid"> {{ error }}</label>
                    {% endfor %}
                </div>

                <div class="form-floating mb-3 col-md-12">
                    {{ form.email }}
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {% for error in form.email.errors %}
                        <label class="text-danger" for="floatingInputInvalid"> {{ error }}</label>
                    {% endfor %}
                </div>
                
                <div class="form-floating mb-3 col-md-12">
                    {{ form.password1 }}
                    <label for="{{ form.password1.id_for_label }}">Password:</label>
                    {% for error in form.password1.errors %}
                        <label class="text-danger" for="floatingInputInvalid"> {{ error }}</label>
                    {% endfor %}
                </div>
                
                <div class="form-floating mb-3 col-md-12">
                    {{ form.password2 }}
                    <label for="{{ form.password2.id_for_label }}">Confirm:</label>

                    {% for error in form.password2.errors %}
                        <label class="text-danger" for="floatingInputInvalid"> {{ error }}</label>
                    {% endfor %}

                </div>
                <div class="d-grid gap-2 col-md-12">
                    <button type="submit" class="btn btn-primary">Надіслати</button>
                    <button type="reset" class="btn btn-warning">Скинути</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
