<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picture Classify Hub</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.11.7/dist/css/bootstrap-datepicker.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.11.7/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_image/main.css' %}">
    <style>
        body {
            background-image: url('{% static "app_image/background.jpg" %}'); /* зображення фону */
            background-size: cover; /* масштабування фону */
            background-repeat: no-repeat; /* не повторювати фон */
            padding: 20px; /* відступи від країв */
        }
    </style>
</head>

<body>

    <main style="width: 1200px; height: 1200px;" class="container">
        
        <nav class="navbar navbar-expand-lg bg-info bg-opacity-10 mb-3 mt-3 border border-start-0 border-end-0 border-info">
            <div class="container-fluid">
            <h1 class="navbar-brand text-primary fs-2 fw-bold" href="/">Picture Classify Hub</h1>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                </ul>
                
                {% if user.is_authenticated %}
                    <div class="d-flex ms-5">
                        <a class="nav-link ms-3 text-warning fw-bold" href="{% url 'users:logout' %}">Logout</a>
                    </div>
                {% else %}
                    <div class="d-flex ms-5">
                        <a class="nav-link text-warning fw-bold" href="{% url 'users:signup' %}">Sign Up</a>
                        <a class="nav-link ms-3 text-warning fw-bold" href="{% url 'users:login' %}">Login</a>
                    </div>
                {% endif %}
    
            </div>
            </div>
        </nav>
       
        <div class="row">
            {% block content %} {% endblock %}
        </div>

    </main>

</body>
<footer class="footer fixed-bottom">
    <div class="container">
        <ul class="nav justify-content-center border-bottom pb-1 mb-3">
            <li class="nav-item"><a href="https://github.com/AleksandrRevuka" class="nav-link px-2 text-white">Олександр Ревука</a></li>
            <li class="nav-item"><a href="https://github.com/evgen-kulik" class="nav-link px-2 text-white">Євген Кулик</a></li>
            <li class="nav-item"><a href="https://github.com/dCrowb" class="nav-link px-2 text-white">Олександр Шевченко</a></li>
            <li class="nav-item"><a href="https://github.com/Evgenius87" class="nav-link px-2 text-white">Євген Плотніков</a></li>
        </ul>
        <p class="text-center text-white" style="margin-top: -10px;">© 2024 Digital future, Inc</p>
    </div>
</footer>
</html>

