
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.11.7/dist/css/bootstrap-datepicker.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.11.7/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_image/main.css' %}">
    <style>
        body {
            background-image: url('{% static "app_image/background.jpg" %}'); /* зображення фону */
            background-size: cover; /* масштабування фону */
            background-repeat: no-repeat; /* не повторювати фон */
            padding: 20px; /* відступи від країв */
        }
    </style>
</head>
<body>
    <div class="text-center">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>


