                {% extends 'app_image/base.html' %}

                {% block content %}
                    <div class="d-flex_justify">
                        <h2 class="welcom">Ласкаво просимо до нейромережі для класифікації зображень!</h2>

                        <div class="text_func">
                            <h3 class="h3_fub">Основний функціонал застосунку:</h3>
                            <ul class="ul_text_func">
                                <li>Реєстрація (sign up), аутентифікація (login) та вихід із застосунку (logout).</li>
                                <li>Класифікація зображень за 10 класами: 'літак', 'автомобіль', 'птах', 'кіт', 'олень', 'собака', 'жаба', 'кінь', 'корабель', 'вантажівка'.</li>
                                <li>Формат зображень для обробки нейромережею: .jpg, .jpeg та .svg.</li>
                                <li>Виведення зображення із визначеним класом на головну сторінку.</li>
                                <li>Збереження в Cloudinary підготовленого зображення розширенням 32х32 пікселя для можливості наповнення додаткового датасету.</li>
                                <li>Збереження в базі даних інформації про користувача із прив'язкою до його зображень.</li>
                                <li>Збереження в базі даних URL на зображення в Cloudinary.</li>
                            </ul>
                        </div>

                    </div> 
                {% endblock %}

