{% extends 'app_image/base.html' %}
{% block content %}
    <div style="display: flex; justify-content: center;">
        <div class="container">
            {% if form.errors and form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                A simple danger alert—check it out!
              </div>
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="{% url 'app_image:home' %}" method="post" enctype="multipart/form-data" class="mb-3">
                        {% csrf_token %}
                            {{ form.original_file_name }}
                            {{form.errors.original_file_name}}
                        <div style="margin-top: 20px;">
                            <button type="submit" class="btn" style="background-color: orange; color: black; font-size: 18px; border-radius: 25px; padding: 10px;">Завантажити</button>
                            <label for="action" class="form-label" style="font-size: 18px;"></label>
                        </div>
                        </form>
                            <form action="{% url 'app_image:action' %}" method="POST">
                                {% csrf_token %}
                            <div style="margin-top: 20px;">
                            <button type="submit" class="btn" style="background-color: orange; color: black; font-size: 18px; border-radius: 25px; padding: 10px;">Класифікувати зображення</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 20px;">Результат: {{ output_text }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
