 html {
 max-width: 100%;
}

body {
     font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.h3_fub {font-size: 1.5em;
margin: 0;

}

.navbar-brand{
    margin-left: 1.5em;
    margin: 0.6em 0 0.6em 1.5em;
}


div.d-flex_ms-5 :first-child {
    width: 1.3em;
}

.d-flex_justify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1em;

}

.navbar {
    width: 90%;
    background-color: #234270;
    margin-bottom: 0.5em;
    margin-top: 0rem;
    border-style: solid;
    border-color: #0d6efd;
    border-width: 0 0 1px 0;
    min-width: 28em;
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
     font-size: 0.8em;
}

.border-info {
    border-color: #fff !important;
    width: 100%;
}


.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-primary {
    color: #fff !important;
    padding-left: 0.5em;
}

.d-flex_ms-5, ul.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em 0 0.5em;
}


ul.navbar-nav {
    list-style: none;
    padding-right: 1.5em;

}


.welcom {
    text-align: center;
    color: #fff !important;
    padding: 0.5em;
    margin: 0;}

.button_div {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
}

.btn-warning{
    color: white;
    background: green;
    border: none;
    font-size: 0.95em;
}

.btn-warning:hover{
    background: #6abd6a;
}

.text_func{
    color: white;

}

.h3_fub {text-align: center;
    padding: 0.4em;}


ul.ul_text_func > li {
    padding: 0.2em;
    font-weight: 400;
}

a.nav-link_fw-bold {
    color: white;
    transition: color 0.3s ease;
    padding: 0.5em;
    font-weight: bold;
    text-decoration: none;
    width: 4em;
}


a.nav-link_fw-bold:hover{
     color: #8f8c8c !important;
}


i.fa-regular.fa-user {
    padding-right: 0.4em;
}



i.fa-solid.fa-house {
    padding-right: 0.4em;
}


.d-flex_ms-5-logout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.button_logout {
    color: white;
     background-color: transparent;
     border: none;
     font-weight: bold;
     font-size: 1em;
     transition: color 0.3s ease;
}


li.nav-item, .form_nav {
    width: 7em;
    text-align: center;

}

.collapse.navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 40%;
}


a.a_nav-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;


}

a.a_nav-link:hover{
     color: #8f8c8c !important;
}

.down {
    display: block;}


.footer_down {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    font-size: 0.85em;
    position: fixed;
    bottom: 0.5em;
    z-index: -1;
}

p.down {
    text-align: center;
    font-size: 1em;
    color: white;
    margin: 0;
}

.fff {
    padding-top: 2.5em;
}

.custom-file {
    display: flex;
    flex-direction: column;
    align-items: center;}

.btn-primary-home, .btn-warning-home {
    width: 100%;
    background: green;
    border: none;
    border-radius: 1em;
    padding: 0.3em;
    text-align: center;
    font-size: 0.95em;
}


.btn-warning-home {
    color: white;
    margin-top: 1.5em;
    background: green;
    padding: 0.4em;
}


.btn-primary-home{
    color: white;
    background: #cb2f3e;

}


.btn-warning-home:hover{
    background: #6abd6a;
}

.btn-primary-home:hover{
    background: #b86b72;
}






a.btn-warning-home-a {
    color: white;
    text-decoration: none;
    width: 100%;
    background: green;
    border: none;
    border-radius: 1em;
    padding: 0.35em 0 0.35em 0;
    text-align: center;
    font-size: 0.95em;
    margin-top: 1.5em;
}



a.btn-warning-home-a:hover{
    background: #6abd6a;
}



.custom-file {
    width: 10em;
}


.container-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    padding: 1em;
    }

.out {
    color: white;
    text-align: center;
}



.card{
   display: flex;
   margin-left: 2.5em;
    flex-direction: column;
    align-items: center;
    background: white;
    color: black;
    max-width: 26%;
    height: auto;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}



.text-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card-body {padding:0;


}


.button_logout:hover, .nav-link.ms-3.fw-bold:hover {
    color: #8f8c8c !important;
}


.row {
    display: flex;
      flex-direction: column;
      width: 80%;
      justify-content: center;
}

.d-content {
    display: flex;
      width: 90%;
      justify-content: center;
}

.upload_container {
    width: 100%;
    margin: 0 auto;
    margin-top: 1.5em;
    min-width: 28em;

}


.card-img-top {
    height: auto;
    max-width: 100%;
    border-radius: 0.5em 0.5em 0 0em;
}

.myclass {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.myclass + label {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 400;
    color: [whatever you want];
    background-color: [whatever you want];
    border-color: [whatever you want];
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    margin-bottom: .5rem;
    box-sizing: border-box;
    border-radius: 20px;
}

.myclass:focus + label, .myclass + label:hover {
    background-color: #007bff;
}



.['custom-file'] {
        text-align: center;
}


input[type="file"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 14em;

}
/* Стилізація псевдоелемента file-selector-button */
input[type="file"]::file-selector-button {
    background: #cb2f3e;
    color: #fff;
    border: none;
    border-radius: 1em;
    padding: 0.3em;
    text-align: center;
    font-size: 0.95em;
}


input[type="file"]{

    font-size: 1em;
}

input[type="file"]::file-selector-button:hover{

}


.mb-3 {
    margin: 0 8em 1.5em 2em;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.container-for-user {
    align-self: flex-start;
    width: 38%;
    padding-right: 0em;
}





.container-for-pic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1em;
    flex: 1;
    font-size: 0.85em;
    width: 100%;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2.2em;
  padding-right: 2.2em;
  margin-bottom: 1.8em;
}

.card-img-top-main {
    max-width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 0.1em;
    border-radius:0.5em;

}

.card-pic {
    width: 14em;
    height: 10em;


}



.p-funct {
   margin-left: -1.5em;
}



.container-for-plots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}


.col-plots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
     margin-bottom: 1em;
}



.card-plot {
    margin: 0.4em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 45%;
    min-width: 30%;
}


.card-imf-plot {
    width: 16em;
    height: 12.5em;
    border-radius: 3px 3px 0 0;

}

.card-text-plot{
    padding: 0.15em;
    border-radius: 0 0 3px 3px;
    width: 19em;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    background: white;
    text-align: center;
}



.pager {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 0;

}

.pager li {
    display: inline;
    margin: 0 10px;
    margin-bottom: 1em;
}

.pager a {
    color: #333333;
    font-size: 0.85em;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 15px;
    width: 7em;
    height: 1.5em;
    text-decoration: none;
}

.pager a:hover {
    background-color: #dfd7d7;
}

.pager .previous {
    float: left;
}

.pager .next {
    float: right;
}

.next-previous-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-top: 1em;
    position: fixed;
    bottom: 1em;
}


span.for-previous-buttons {
    margin-right: 0.6em;

}

span.for-next-buttons {
    margin-left: 0.6em;

}












@media screen and (max-width: 1020px) {

 .mb-3 {
    margin: 0 6em 2em 2em;
}

.container {
    font-size: 0.75em;

}}

@media screen and (max-width: 1000px) {



 .mb-3 {
    margin: 0 5em 2em 2em;
}



.welcom {
      font-size: 1.4em;

}
.h3_fub {font-size: 1.2em;

input[type="file"]{
    font-size: 0.9em;
}

.btn-warning-home, a.btn-warning-home-a  {font-size: 0.9em;}

}}


@media screen and (max-width: 770px) {

.btn-warning-home, a.btn-warning-home-a {font-size: 0.85em;}

input[type="file"] {
    font-size: 0.85em;
}


.container {
    font-size: 0.65em;

}

.ms-5 {
    margin-left: 2rem !important;
}

.welcom {
      font-size: 1.3em;
      }

.h3_fub {font-size: 1.5em;

}}


@media (max-width: 585px) {
   .mb-3 {
    margin: 0 0em 1em 0em;
}

  .btn-warning-home, a.btn-warning-home-a  {
        margin-top: 0.9em;
    }

.navbar {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
   }

  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collapse.navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.text-primary {
    order: 1;
}

.navbar-brand{
    margin:  0 0em 1.5em 0;
    order: 2;
}

ul.navbar-nav {
    padding-right: 0.5em;
}

}



@media (max-width: 576px) {

    .container-for-user {
    align-self: center;
    width: 75%;
    padding-bottom: 1em;
}

    .container, .container-sm {
        max-width: 540px;
    }
    a.nav-link_fw-bold {
    padding: 0.2em;

}

.text-center {
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.own-information p {
    margin: 0.1em 0 0.1em 0;
}
}



@media (max-width: 520px) {

.text_func {
    font-size: 0.85em;
}
.card-body {
    padding: 0 0.2em 0 0.2em;
    font-size: 0.8em;
}

}


@media (max-width: 500px) {
.card-plot {
     width: 100%;
     margin: 0.5em 0;

}

.col-plots {
    flex-direction: column;
}}


@media (max-width: 360px) {
ul.ul_text_func {
    padding:0.4em;
    margin: 0;
}}



@media (max-width: 320px) {

.text_func {
   font-size: 0.7em;
    }

ul.ul_text_func {
    padding:0.7em;
    margin: 0;
}

.fa-solid, .fa-regular {display: none;}
li.nav-item, .form_nav {
    width: 6em;
}
.navbar {
    width: 100%;
}
}


@media (max-width: 280px) {


.collapse.navbar-collapse {
    flex-direction: column;
    align-self: center;
}

.navbar-brand{
    margin:  0.5em 0em 0.5em 0;
    text-align: center;

}

ul.navbar-nav {
    padding-right: 0em;

}

.text_func {
   font-size: 0.55em;
    }

ul.ul_text_func {
    padding:0.3em;
    margin: 0;
}

 .welcom {
        font-size: 0.8em;
    }

  .h3_fub {
        font-size: 1.1em;
    }

ul.navbar-nav {

    padding: 0 0.5em 0 0.5em;
}
.card-imf-plot {
    width: 12em;
    height: 11.5em;
}

.card-text-plot{

    width: 15em;
}


}