{% extends 'app_image_categorize/base.html' %}


{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}


{% block content %}
<style>
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .form-signin h2 {
        margin: 0;
    }

    label {
        width: 100%;
    }

    .form input {
        width: 100%;
    }

    button.btn.btn-primary {
    padding: 0.75rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 92%;
    border-radius: 0.4rem;
}
    button.btn.btn-primary:hover {
    background-color: #7daadb;
    color: black;}

</style>
<div class="container-message">
    <div class="form-signin rounded-3 bg-light">
        <h2>Password reset</h2>
        <form method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Request password reset</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}